<!-- 
#################################################################################
# © 2010 SunGard Higher Education.  All Rights Reserved.
#
# CONFIDENTIAL BUSINESS INFORMATION
#
# THIS PROGRAM IS PROPRIETARY INFORMATION OF SUNGARD HIGHER EDUCATION
# AND IS NOT TO BE COPIED, REPRODUCED, LENT, OR DISPOSED OF,
# NOR USED FOR ANY PURPOSE OTHER THAN THAT WHICH IT IS SPECIFICALLY PROVIDED
# WITHOUT THE WRITTEN PERMISSION OF THE SAID COMPANY -->

<div data-role="page" id="list-mshell-show-page" data-theme="g" data-cache="false" data-add-back-btn="false">

    <div data-role="header" data-theme="f" data-position="fixed">
        <img data-icon="logo" src="images/blank.gif" class="headerLogo">
        <img data-icon="menu" src="images/blank.gif" class="menu-link">
    </div><!-- /header -->

	<div data-role="content">
	    <div class="menu-tab"><img data-icon="menu" src="images/blank.gif"></div>
		<div class="menu">	
			<ul>
			    <% if Mshell.is_logged_in? %>
    				<li><a href="<%= url_for({ :controller => :Mshell, :action => :async_logout}) %>" data-transition="fade" class="signOut signOut-link"><%= Locale::Mshell[:label_logout] %></a></li>
			    <% else %>
    				<li><a href="<%= url_for({ :controller => :Mshell, :action => :show_login}) %>" data-transition="pop" class="signIn signIn-link"><%= Locale::Mshell[:label_login] %></a></li>
        		<% end %>
        		<li><a href="#" id="mode" class="icon-view" data-mode="icon"><%= Locale::Mshell[:label_icon_view]%></a></li>
			</ul>
			<br style="clear:both;"/>
		</div>
	    <ul data-role="listview" data-theme="g" class="buttonListView">
	        <% 
	            Mshell.get_mapps_for_launch().each do |mapp|
	                mapp_li_class = mapp.login_before_launch ? "locked" : ""
	                mapp_url = url_for ({ :action => :launch_mapp, :query => { :id => mapp.id } })
	                if mapp.login_before_launch
    	                mapp_url = url_for ({ :action => :show_login,
    	                    :query => { :launch_mapp_id => mapp.id, :mapp_jqm_enabled => mapp.jqm_enabled } })
	                end
	                external_link = !mapp.jqm_enabled && !mapp.login_before_launch
            %>
                <li class="<%= mapp_li_class %>">
                    <a href="<%= mapp_url %>" <% if external_link %>rel="external"<% end %> >
                        <% if mapp.list_icon %>
                            <img class="ui-li-icon icon-<%= mapp.id %>" src="images/blank.gif">
                        <% end %>
                        <% if mapp.label %>
                            <%= mapp.label %>
                        <% end %>
                    </a>
                </li>
            <% end %>
        </ul>        
	</div><!-- /content -->
	
	<div data-role="footer" data-theme="f" data-position="fixed" class="ui-bar">
	    <% if Mshell.is_logged_in? %>
    	    <h4><a href="<%= url_for({ :controller => :Mshell, :action => :async_logout}) %>" data-transition="fade" class="footerLogIn signOut-link"><%= Locale::Mshell[:label_logout] %></a></h4>
	    <% else %>
    		<h4><a href="<%= url_for({ :controller => :Mshell, :action => :show_login}) %>" data-rel="dialog" data-transition="pop" class="footerLogIn signIn-link"><%= Locale::Mshell[:label_login] %></a></h4>
		<% end %>
    </div><!-- /footer -->
</div><!-- /page -->