<!-- 
#################################################################################
# © 2010 SunGard Higher Education.  All Rights Reserved.
#
# CONFIDENTIAL BUSINESS INFORMATION
#
# THIS PROGRAM IS PROPRIETARY INFORMATION OF SUNGARD HIGHER EDUCATION
# AND IS NOT TO BE COPIED, REPRODUCED, LENT, OR DISPOSED OF,
# NOR USED FOR ANY PURPOSE OTHER THAN THAT WHICH IT IS SPECIFICALLY PROVIDED
# WITHOUT THE WRITTEN PERMISSION OF THE SAID COMPANY -->

<div id="events-show-calendars-page" data-role="page" data-cache="false">
    <div data-role="header" data-position="fixed" data-theme="f" class="imageButtons">
        <a href="<%= url_for( :action => :index ) %>" data-direction="reverse"><img data-icon="back" src="<%= Mshell.path %>/images/blank.gif"/></a>
        <h1><%= Locale::Events[:title_event_calendars] %></h1>
        <img data-icon="menu" src="<%= Mshell.path %>/images/blank.gif" class="menu-link">
    </div><!-- /header -->

	<div data-role="content" data-theme="g" >
	    <!-- Menu -->
	    <div class="menu-tab"><img data-icon="menu" src="<%= Mshell.path %>/images/blank.gif"></div>
		<div class="menu">	
			<ul>
        		<li><a href="<%= Mshell.show_url %>" data-direction="reverse" class="home"><%= Locale::Mc[:label_home] %></a></li>
			</ul>
			<br class="clear"/>
		</div><!-- /Menu -->
        
		<div class="listContainer">
			<div class="listContainerInner">
				<ul data-role="listview" data-theme="h" style="margin:8px">					
					<li> 
						<a href="<%= url_for :action => :get_calendar_events, :query => {:calendar => 'all', :title => Locale::Events[:label_all]} %>"><%= Locale::Events[ :label_all_calendars ]%>
						    <img class="colorBlock color0 ui-li-icon"/>
					    </a> 
					</li> 
					<% 
						calendarList = get_calendar_list()
    					color_number = 0
						if calendarList && calendarList.length > 0
						 calendarList.each do |calendar|
         					color_number += 1
					%>
					<li>
						<a href="<%= url_for :action => :get_calendar_events, :query => {:calendar => calendar['id'], :title => calendar['name']} %>">
						    <img class="colorBlock color<%= color_number % 8 %> ui-li-icon"/>
                            <%=calendar['name']%>
                        </a>
					</li>
					<% end 
					end 
					%>					
				</ul>
			</div>
		</div>

	</div><!-- /content -->

	<div data-role="footer" data-theme="f" data-position="fixed">
		<div data-role="navbar">
			<ul>			 
				<li><a href="<%= url_for(:action => :show_categories) %>" data-icon="categories" data-iconpos="top"><%= Locale::Events[:label_categories] %></a></li>
				<li><a href="<%= url_for( :action => :show_search) %>" data-icon="mc-search" class="event-search" data-iconpos="top"><%= Locale::Events[:label_search] %></a></li>
			</ul>
		</div>
	</div><!-- /footer -->
	
</div>
