<div id="search-show-page" data-role="page" data-swipe="ignore">
    <!-- Header -->
    <div id="map-show-header" data-role="header" data-theme="f" class="imageButtons">
        <a href="<%= Mshell.show_url %>" data-rel="back"><img data-icon="back" src="<%= Mshell.path %>/images/blank.gif"/></a>
        <h1><%= Mshell.current_mapp.title %></h1>
        <img data-icon="menu" src="<%= Mshell.path %>/images/blank.gif" class="menu-link">
    </div>
	<!-- CONTENT -->
	<div class="content-primary" data-role="content">
		<ul data-role="listview" data-filter="true" class="ui-listview" data-divdertheme="g">
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="AET" data-campus="Main">Applied Engineering Technology Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="AR" data-campus="Main">Art Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="BSB" data-campus="Main">Biosciences Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="BV" data-campus="Downtown">Buena Vista Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="BB" data-campus="Main">Business Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="CC" data-campus="Main">Convocation Center</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="DTPL" data-campus="Downtown">Downtown Parking Garage</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="DB" data-campus="Downtown">Durango Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="EB" data-campus="Main">Engineering Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="FS" data-campus="Downtown">Frio Street Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="ITC" data-campus="ITC">Institute of Texan Cultures</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="JPL" data-campus="Main">John Peace Library</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="MB" data-campus="Main">Main Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="MH" data-campus="Main">McKinney Humanities Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="MTB" data-campus="Downtown">Monterey Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="MS" data-campus="Main">Multidisciplinary Studies Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="PE" data-campus="Main">Physical Education Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="SB" data-campus="Main">Science Building</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
			<li data-theme="c" class="ui-btn ui-btn-icon-right ui-li ui-btn-down-c ui-btn-up-c"><div class="ui-btn-inner ui-li"><div class="ui-btn-text">
				<a href="<%= url_for({ :controller => :Mshell, :action => :launch_mapp, :query => { :id => "map"} }) %>" class="ui-link-inherit place" class="place" data-abbrv="UC" data-campus="Main">University Center</a>
			</div><span class="ui-icon ui-icon-arrow-r"></span></div></li>
		</ul>
	</div>
</div>
