<!-- 
#################################################################################
# © 2010 SunGard Higher Education.  All Rights Reserved.
#
# CONFIDENTIAL BUSINESS INFORMATION
#
# THIS PROGRAM IS PROPRIETARY INFORMATION OF SUNGARD HIGHER EDUCATION
# AND IS NOT TO BE COPIED, REPRODUCED, LENT, OR DISPOSED OF,
# NOR USED FOR ANY PURPOSE OTHER THAN THAT WHICH IT IS SPECIFICALLY PROVIDED
# WITHOUT THE WRITTEN PERMISSION OF THE SAID COMPANY -->

<div id="feed-detail-page" data-role="page" data-theme="g">
	<div data-role="header" data-position="fixed" data-position="inline" data-theme="f" class="imageButtons">
        <a href="<%= Mshell.show_url %>" data-rel="back"><img data-icon="back" src="<%= Mshell.path %>/images/blank.gif"/></a>
        <h1><%=Mshell.current_mapp.title%></h1>
        <img data-icon="menu" src="<%= Mshell.path %>/images/blank.gif" class="menu-link">
    </div><!-- /header -->
	<div data-role="content">
	    <div class="menu-tab"><img data-icon="menu" src="<%= Mshell.path %>/images/blank.gif"></div>
		<div class="menu">	
			<ul>
			    <% if Mshell.is_logged_in? %>
				<li id="directory-sign-out-menu"><a href="<%= url_for({ :controller => :Mshell, :action => :async_logout}) %>" data-transition="pop" data-direction="reverse" class="signOut signOut-link"><%= Locale::Mshell[:label_logout] %></a></li>
			    <% else %>
				<li id="directory-sign-in-menu"><a href="<%= url_for({ :controller => :Mshell, :action => :show_login}) %>" data-transition="pop" class="signIn signIn-link"><%= Locale::Mshell[:label_login] %></a></li>
	   		<% end %>
	   		<li><a href="<%= Mshell.show_url %>" data-direction="reverse" class="home"><%= Locale::Mc[:label_home] %></a></li>
			</ul>
			<br class="clear"/>
		</div>
		  <%get_entries().each do |entry|%>
		    <div data-role="collapsible" data-collapsed="true">
	            <h1><% if entry['title'] != "" %><%=entry['title']%><% end %></h1>
	            <p>
			        <a href ="<%= entry['link']%>"><%=entry['content']%></a>
			     </p>
			</div>
		  <%end%>
	</div>
</div>
